.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: #fdf6e3;
    color: #657b83;
}

.ajax-loading button {
    margin-right: 10px;
}

.ajax-loading .ajax-cancel {
    position: relative;
    margin-bottom: 15px;
}

.ajax-loading .ajax-cancel .cancel {
    position: absolute;
    z-index: 60000;
}

.ajax-loading .ajax-token-cancel {
    position: relative;
    height: 32px;
}

.ajax-loading .ajax-token-cancel-content {
    position: absolute;
    z-index: 60000;
}

.ajax-download-file {
    width: 300px;
    margin-top: 20px;
}

.ajax-download-file .download-img {
    width: 100%;
}

.example-ajax-crypto {
    line-height: 2;
    margin-bottom: 25px;
}

.example-ajax-crypto .btn-decrypt {
    margin-top: 10px;
}

.example-ajax-crypto .pdr-btn {
    margin-right: 15px;
}

.example-ajax-url-params button {
    margin-bottom: 10px;
}

.example-ajax-url-params .pdr-textarea:not(:last-child) {
    margin-bottom: 25px;
}
