# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
trim_trailing_white_space_on_save = true

[*.{js,json,jsx,html,css,scss}]
charset = utf-8
indent_style = space
indent_size = 4

[{package.json}]
indent_style = space
indent_size = 2